@model ShoppingBasket.Models.ViewModels.WishlistVM

@{
    ViewData["Title"] = ViewData["Root"] = "Wishlists";
    ViewData["Page"] = "Our Wishlist";
}

<partial name="_Breadcrumb" view-data="ViewData" />

<div class="cart-wrap">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-10 col-sm-12 offset-md-1">
                <div class="section-header mb-5">
                    <h4><i class="bi bi-heart mr-2"></i> My Wishlist</h4>
                </div>
                @if (!Model.Wishlists.Any())
                {
                    <h3 class="text-center text-danger">No product are added to wishlist!</h3>
                }
                else
                {
                    <div class="table-wishlist">
                        <table class="" cellpadding="0" cellspacing="0" border="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="45%">Product Name</th>
                                    <th width="15%">Unit Price</th>
                                    <th width="15%">Stock Status</th>
                                    <th width="15%"></th>
                                    <th width="10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Wishlists)
                                {
                                    <tr>
                                        <td width="45%">
                                            <div class="display-flex align-center">
                                                <div class="img-product">
                                                    <img src="@item.Product.ProductImage_1" class="mCS_img_loaded" alt="Default or first image of product">
                                                </div>
                                                <div class="name-product">
                                                    @item.Product.Name
                                                </div>
                                            </div>
                                        </td>
                                        <td width="15%" class="price">@item.Product.Price.ToString("C2")</td>
                                        <td width="15%"><span class="in-stock-box">In Stock</span></td>
                                        <td width="15%">
                                            <button onclick="addToCart(this, @item.Product.Id)" class="round-black-btn site-btn small-btn">Add to Cart</button>
                                        </td>

                                        <td width="10%" class="text-center">
                                            <a asp-area="Customer" asp-action="AddOrDeleteWishlist" asp-route-productId="@item.Product.Id" asp-route-reload="1" asp-controller="Wishlist" title="Delete" class="btn btn-sm btn-outline-secondary"><i class="bi bi-x-lg"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function addToCart(addToCartBtn, productId) {
            console.log(addToCartBtn);
            $.ajax({
                contentType: "application/json",
                headers: {
                    "isApiResponse": true
                },
                url: `/Customer/Cart/AddToCart?productId=${productId}`,
                type: "POST",
                success: function (data) {
                    console.log(data.success);
                    addToCartBtn.innerText = "ADDED !";
                    addToCartBtn.disabled = true;
                    addToCartBtn.style.cursor = "no-drop";
                    Toastify({
                        text: data.success,
                        duration: 3000
                    }).showToast();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (error) {
                    console.log("Error");
                    if (error.status === 401) {
                        return window.location.href = "https://" + window.location.host + "/Identity/Account/Login?ReturnUrl=/Customer/Shops";
                    }
                    console.log(error);
                }
            });
        }
    </script>
}