@model Product

@{
    ViewData["Title"] = "Details";
    ViewData["Root"] = Model.Category.Name;
    ViewData["Child_1"] = Model.Name;
}

<partial name="_Breadcrumb" view-data="ViewData"/>

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="/img/product/details/product-details-1.jpg" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="/img/product/details/product-details-2.jpg"
                             src="/img/product/details/thumb-1.jpg" alt="">
                        <img data-imgbigurl="/img/product/details/product-details-3.jpg"
                             src="/img/product/details/thumb-2.jpg" alt="">
                        <img data-imgbigurl="/img/product/details/product-details-5.jpg"
                             src="/img/product/details/thumb-3.jpg" alt="">
                        <img data-imgbigurl="/img/product/details/product-details-4.jpg"
                             src="/img/product/details/thumb-4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Name</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <div class="product__details__price">@Model.Price.ToString("C3")</div>
                    <p>
                        @Model.Description
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a asp-controller="Wishlist" asp-area="Customer" asp-action="AddOrDeleteWishlist" asp-route-productId="@Model.Id" class="primary-btn">ADD TO CARD</a>
                    <a href="#" class="heart-icon">
                        <span class="icon_heart_alt"></span>
                    </a>
                    <ul>
                        <li>
                            <b>Availability</b> <span>In Stock (@Model.Stock.CurrentStock)</span>
                        </li>
                        <li>
                            <b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span>
                        </li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="" id="facebook-share" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->


@section Scripts
{
    <script type="text/javascript">
        let facebookShareBtn = document.getElementById("facebook-share");
        const currentUrl = window.location.href.replace("https://", "");
        facebookShareBtn.href = `https://www.facebook.com/sharer/sharer.php?u=${currentUrl}`;
        console.log(facebookShareBtn);
    </script>
}