@model IEnumerable<Product>

@{
    ViewData["Title"] = ViewData["Root"] = "Shops";
    ViewData["Page"] = "Our Shops";
}

<partial name="_Breadcrumb" view-data="ViewData" />

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <partial name="_SearchBox" />
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    @* @await Html.PartialAsync("_Categories", Model.Categories) *@
                    @await Component.InvokeAsync("Category")
                    <div class="mb-4"></div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                 data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount" />
                                    <input type="text" id="maxamount" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>@Model.Count()</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    @foreach (var product in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg img-thumbnail" data-setbg="@product.ProductImage_1">
                                    <ul class="product__item__pic__hover">
                                        <li>
                                            @if (product.Wishlist == null)
                                            {
                                                <a onclick="addOrRemoveToWishlist(this, @product.Id)" title="Add to wishlist!" class="heart-icon">
                                                    <span class="icon_heart_alt"></span>
                                                </a>
                                            }
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>
                                        <a asp-area="Customer" asp-route-id="@product.Id" asp-controller="Shops" asp-action="Details">@product.Name</a>
                                    </h6>
                                    <h5>@product.Price.ToString("C3")</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">
                        <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
@section Scripts {
    <script type="text/javascript">
        function addOrRemoveToWishlist(wishlistBtn, productId) {
            console.log(wishlistBtn);
            $.ajax({
                contentType: "application/json",
                headers: {
                    "isApiResponse" : true
                },
                method: "GET",
                url: `/Customer/Wishlist/AddOrDeleteWishlist?productId=${productId}`,
                success: function (data) {
                    console.log(data.success);
                    wishlistBtn.style.display = "none";
                    Toastify({
                        text: data.success,
                        duration: 2000
                    }).showToast();
                },
                error: function (error) {
                    console.log("Error");
                    if (error.status === 401) {
                        return window.location.href = "https://" + window.location.host + "/Identity/Account/Login?ReturnUrl=/Customer/Shops";
                    }
                    console.log(error);
                }
            });
        }
    </script>
}