@using Microsoft.Extensions.Options
@using ShoppingBasket.CommonHelper;
@model ShoppingBasket.Models.ViewModels.OrderDetailsVM

@* injecting stripe api services for payment ui *@
@inject IOptions<ShoppingBasket.CommonHelper.StripeSettings> Stripe

@{
    ViewData["Title"] = ViewData["Root"] = "Order Details";
}

<partial name="_Breadcrumb" view-data="ViewData" />

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="d-flex flex-row justify-content-md-end justify-content-sm-center order-detail-btns my-3">
            <a href="#">Cancel Order</a>
            &nbsp; | &nbsp;
            <a href="#">Print Invoice</a>
            &nbsp; | &nbsp;
            <a href="#">Track Order</a>
        </div>
        <div class="checkout__form">
            <h4>Order Details</h4>
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="checkout__order">
                        <h4 class="text-green">Shipping Details</h4>
                        <div class="row">
                            <div class="col-12 block-divider">
                                <p class="fs-6 fw-700">Full Name</p>
                                <h5 class="text-danger fw-600">@Model.OrderHeader.FirstName @Model.OrderHeader.LastName</h5>
                            </div>
                            
                            <div class="col-12 block-divider">
                                <p class="fs-6 fw-700">Email</p>
                                <h5 class="text-danger fw-600">@Model.OrderHeader.Email</h5>
                            </div>
                            
                            <div class="col-12 block-divider">
                                <p class="fs-6 fw-700">Phone</p>
                                <h5 class="text-danger fw-600">@Model.OrderHeader.Phone</h5>
                            </div>
                            
                            <div class="col-12 block-divider">
                                <p class="fs-6 fw-700">Country</p>
                                <h5 class="text-danger fw-600">@Model.OrderHeader.Country</h5>
                            </div>
                            
                            <div class="col-12 block-divider">
                                <p class="fs-6 fw-700">Postcode/ZIP</p>
                                <h5 class="text-danger fw-600">@Model.OrderHeader.PostCode</h5>
                            </div>
                            
                            <div class="col-12 block-divider">
                                <p class="fs-6 fw-700">State</p>
                                <h5 class="text-danger fw-600">@Model.OrderHeader.State</h5>
                            </div>
                            
                            <div class="col-12 block-divider">
                                <p class="fs-6 fw-700">Town/City</p>
                                <h5 class="text-danger fw-600">@Model.OrderHeader.City</h5>
                            </div>
                            
                            <div class="col-12 block-divider">
                                <p class="fs-6 fw-700">Address</p>
                                <h5 class="text-danger fw-600">@Model.OrderHeader.Address</h5>
                            </div>

                            <div class="col-12">
                                <p class="fs-6 fw-700">Order notes</p>
                                <p class="">
                                    --*--
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="checkout__order my-sm-3 my-md-0">
                        <h4 class="text-green">Order Details</h4>
                        <div class="checkout__order__products">Order No. <span class="text-green">@Model.OrderHeader.OrderNumber</span></div>
                        <div class="checkout__order__products">Products <span>Total</span></div>
                        <ul>
                            @foreach(var item in Model.OrderDetail)
                            {
                                <li class="d-flex flex-row justify-content-between">
                                    @item.Product.Name &nbsp; <strong class="text-danger"><i class="bi bi-x"></i> @item.Count</strong> <span>@item.Product.Price.ToString("C2")</span>
                                </li>
                            }
                        </ul>
                        <div class="checkout__order__total">Total <span>@Model.OrderHeader.OrderTotal.ToString("C2")</span></div>
                        <div class="checkout__order__products">Payment Type</div>
                        <div class="form-check noselect block-divider">
                            <input class="form-check-input" type="radio" id="Payment-Type" value="Cash-ond-delivery" checked>
                            @if (@Model.OrderHeader.PaymentType == PaymentTypes.CashOnDelivery)
                            {
                                <label for="Cash_on_delivery" class="form-check-label" role="button">
                                    Cash On Delivery
                                </label>
                            }
                            else
                            {
                                <label for="Payment-Type" class="form-check-label" role="button">
                                    Online Payment
                                </label>
                            }
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="checkout__order__products">Payment Status</div>
                            <div class="form-check noselect">
                                <p>@Model.OrderHeader.PaymentStatus</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row justify-content-between block-divider">
                            <div class="checkout__order__products">Payment ID</div>
                            <div>
                                @if (Model.OrderHeader.PaymentIntentId == null)
                                {
                                    <p class="text-danger">--*--</p>
                                }
                                else
                                {
                                    <p class="text-danger">@Model.OrderHeader.PaymentIntentId</p>
                                }
                            </div>
                        </div>

                        <div class="d-flex justify-content-between block-divider">
                            <div class="checkout__order__products">Payment Date</div>
                            <div class="d-flex align-items-end flex-column">
                                @if (Model.OrderHeader.PaymentDate != null)
                                {
                                    <p>@Model.OrderHeader.PaymentDate!.Value.ToString("dd MMMM yyyy")</p>
                                    <p>@Model.OrderHeader.PaymentDate!.Value.ToString("h:mm tt")</p>
                                }
                                else
                                {
                                    <p>--*--</p>
                                }
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="checkout__order__products">Order Date</div>
                            <div class="d-flex align-items-end flex-column">
                                <p>@Model.OrderHeader.OrderDate.ToString("dd MMMM yyyy")</p>
                                <p>@Model.OrderHeader.OrderDate.ToString("h:mm tt")</p>
                            </div>
                        </div>

                        @if (Model.OrderHeader.PaymentType != PaymentTypes.CashOnDelivery && Model.OrderHeader.PaymentIntentId == null)
                        {
                            <a role="button" asp-route-orderHeaderId="@Model.OrderHeader.Id" asp-controller="Cart" asp-action="PaymentByStripe" asp-area="Customer" class="site-btn w-100 mt-2 text-center" style="font-size: inherit; letter-spacing: 1px;">MAKE PAYMENT</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
