@model ShoppingBasket.Models.ViewModels.ContactVM

@{
    ViewData["Title"] = ViewData["Root"] = "Contact";
    ViewData["Page"] = "Contact With Admin";
}

<partial name="_Breadcrumb" view-data="ViewData"/>

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Leave Message</h2>
                </div>
            </div>
        </div>
        <form asp-action="SendMessage" asp-controller="Contact" asp-area="Customer" method="post">
            <div class="row">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <input type="text" asp-for="@Model.Contact.Name" placeholder="Your name"/>
                    <span class="text-danger" asp-validation-for="@Model.Contact.Name"></span>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <input type="email" asp-for="@Model.Contact.Email" placeholder="Your Email"/>
                    <span class="text-danger" asp-validation-for="@Model.Contact.Email"></span>
                </div>
                <div class="col-lg-12 mb-4">
                    <textarea placeholder="Your message" asp-for="@Model.Contact.Message"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.Contact.Message"></span>
                </div>
                <div class="col-lg-12 text-center">
                    <button type="submit" class="site-btn">SEND MESSAGE</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}